.share-container{
    height: 250px;
    &.specialty{
        background-color: rgb(245, 242, 242);
        
    }
    &.medicalfacility{
        background-color: white;
    }
    // &.outstandingdoctor{
    //     height: 300px !important;
    //     background-color: rgb(245, 242, 242);
    // }
    &.section-about{
        padding: 0 100px;
        border-top: 1px solid rgb(213, 211, 211);
        height: 400px !important;
        .section-about-header{
            display: flex;
            flex-direction: row !important;
            padding-top: 20px;
            font-size: 22px;
            font-weight: 600;
        }
        .section-about-content{
            display: flex;
            .content-left{
                width: 50%;
                iframe{
                    padding-top: 20px;
                    width: 100%;
                    height: 300px;
                }
            }
            
            .content-right{
                padding-left: 20px;
                padding-top: 30px;
                width: 50%;
                font-size: 20px;
                font-style: italic;
            }
        }
    }
    .share-content{
        height: 250px;
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .share-header{
            padding-top: 15px;
            height: 60px;
            .title-section{
                font-size: 20px;
                font-weight: bold;
            }
            .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                font-size: 10px;
                font-weight: bold;
                color: black;
                cursor: pointer;
                background-color: rgb(229, 224, 224);
                text-transform: uppercase;

                &:hover{
                    background-color: rgb(175, 166, 166);
                    color: yellow;
                }
            }
        }
        
        .share-body{
            .img-customize{
                .bg-img{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 150px ;

                    &.bg-specialty{
                        background-size: cover !important;

                        // background-image: url('../../assets/specialty/xuongkhop.PNG');
                        width: 90%;

                    }
                    &.bg-mefa{
                        width: 90%;
                        // background-image: url('../../assets/medicalfacility/medicalfacility1.PNG');

                    }
                    // &.bg-doctor{
                    //     margin: 0 auto;
                    //     background-size: cover !important;            
                    //     border-radius: 50%;
                    //     height: 130px !important;
                    //     width: 130px;
                    //     // background-image: url('../../assets/outstandingdoctor/doctor1.PNG');

                    // }
                }
            }
           
        }
    }
    
}
.slick-disabled{
    display: none !important;
}
.slick-prev{
    left: -10px !important;
    z-index: 10;
    height: 48px !important;
    width: 44px !important;
    background: white !important;
    border: 1px solid #d7d7d7 !important;

    &:hover{
        background: #d7d7d7 !important;
    }
}
.slick-prev:before, .slick-next:before{
    font-family: FontAweSome !important;
    color: gray !important;
}
.slick-next{
    border: 1px solid blue !important;
    right: 0 !important;
    height: 48px !important;
    width: 44px !important;
    background: white !important;
    border: 1px solid #d7d7d7 !important;
    right: -10px !important;
    &:hover{
        background: #d7d7d7 !important;
    }
}
.section-footer{
    text-align: center;
    padding-top: 10px;
    height: 50px;
    background-color: lightblue;
}